@import url(//fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900);

*{
  box-sizing:border-box;
}

html,body{
  min-width:800px;
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Roboto';
}
body{
  opacity:0;
  transition: all 1s linear;
}

.divider{
  height: 150px;
  width:2px;
  background-color: #C0C9CE;
  position: relative;
  top: 50%;
  float: left;
  transform: translateY(-50%);
}

#background-stats-1{
  background-color: #FF9900;
}

#background-stats-2{
  background-color: #0080FF;
}

#background-stats-3{ /* Match bg-color */
  /* background-color: #f4e800; */
  background-color: #DB4437;
  /* background-color: #0F9D58; */
}

#content-container{
  z-index:2;
  position:relative;
  margin:0 auto;
  display:table;
  padding:10px;
  max-width:940px;
  height:100%;
}
#content-container-center{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}
#result{
  z-index: 3;
  position: absolute;
  bottom: 40px;
  right: 20px;
  color: #fff;
  opacity: 0.5;
  font-size: 45px;
  font-weight: 900;
}
#choice{
  transition: all 300ms linear;
  line-height:0.90em;
  background: #fff;
  box-shadow: 10px 0 0 #fff, -17px 0 0 #fff;
  vertical-align:middle;
  font-size:25px;
  font-weight: 900;
  width: 450px;
  height: 200px;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice .choice{
  width: 33.3%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-left: 10px;
}

#choice .choice .label{
  text-transform: uppercase;
  font-size:15px;
}

#choice .choice.aws{
  color: #FF9900;
  float: left;
}

#choice .choice.azure{
  color: #0080FF;
  float: left;
}

#choice .choice.gcp{ /* Match bg-color */
  /* color: #f4e800; */
  color: #DB4437;
  /* color: #0F9D58; */
  float: left;
}

#background-stats{
  min-width:800px;
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:30%;
  height:100%;
}
